#page{
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% auto 10%;
    background-color: grey;
}
#navbar{
    background-color: hotpink;
    display: grid;
    grid-template-columns: 20% auto 20%;
}
#google-list{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.google-item{
    border: solid;
}
#user-list{
    grid-column-start: 3;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-item{
    background-color: lime;
    flex-basis: 10;
}
#icon-dots{
    font-size: 120%;
}
#icon-user{
   font-size: 200%; 
}


#main-content{
    background-color: indigo;
}
#foot{
    background-color: greenyellow;
}



